@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>Playboy Carti w hali Torwar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }

    .bgimg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('@ViewBag.cartiConcert.MainImageUri');
        min-height: 100%;
    }
</style>
<body>

    <nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
        <div class="bgimg"></div>
    </nav>

    <div class="w3-main w3-padding-large" style="margin-left:40%">

        <header class="w3-container w3-center" style="padding:128px 16px" id="home">
            <h1 class="w3-jumbo"><b>@ViewBag.cartiConcert.Header</b></h1>
            <p>@ViewBag.cartiConcert.HeaderDescription</p>
        </header>

        <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
            <h2>Opis koncertu</h2>
            <hr class="w3-opacity">
            <p>
                @ViewBag.cartiConcert.ConcertDescription
            </p>

            <h3 class="w3-padding-24">Artyści</h3>
            <img src="https://img.discogs.com/xx-TjXD-s5ZzcrGqNka830DN-fk=/600x846/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-4637951-1510976555-3557.jpeg.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-text-black w3-margin-right">Playboy Carti</span> 19:30 - 20:45</p>
            <p>Amerykański raper, autor takich hitów jak "Stop Breathing", "R.I.P.", "Rockstar Made"</p><br>

            <h3 class="w3-padding-16">Opcje biletów</h3>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half w3-margin-bottom">
                    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                        <li class="w3-dark-grey w3-xlarge w3-padding-32">Sektor A (miejsca stojące)</li>
                        <li class="w3-padding-16">miejsca stojące przy scenie, najlepsza widoczność i odbiór dźwięku</li>
                        <li class="w3-padding-16">liczba miejsc: 500</li>
                        <li class="w3-padding-16">
                            <h2>199.99 PLN</h2>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <p><a href="@Url.Action("OrderingTicket", "Tickets")">Zamów bilet</a></p>
                        </li>
                    </ul>
                </div>

                <div class="w3-half">
                    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                        <li class="w3-black w3-xlarge w3-padding-32">Sektor B (miejsca siedzące)</li>
                        <li class="w3-padding-16">miejsca siedzące na piętrze w większej odległości od sceny, słabsza widoczność niż w sektorze A</li>
                        <li class="w3-padding-16">liczba miejsc: 50</li>
                        <li class="w3-padding-16">
                            <h2>149.99 PLN</h2>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <p><a href="@Url.Action("OrderingTicket", "Tickets")">Zamów bilet</a></p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
            <h2>Kontakt w sprawie koncertu</h2>
            <hr class="w3-opacity">

            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> ul. Mieszka I 14, 67-320 Małomice</p>
                <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> 881 052 365</p>
                <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> przemyslawcukierski@o2.pl</p>
            </div>
        </div>

</body>
</html>
