@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .myButtonClass {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .myButtonClass:hover{
            opacity: 0.7;
        }

            .card button:hover {
                opacity: 0.7;
            }
    </style>
</head>
<body>

    <div class="card">
        <img src="@ViewBag.details[0].ImageUri" alt="Denim Jeans" style="width:100%">
        <h1>@ViewBag.details[0].ConcertTitle</h1>
        <p class="price">@ViewBag.details[0].UnderTitle</p>
        <p>@ViewBag.details[0].Description</p>
        <button><a href="CartiConcert" class="myButtonClass">Zamów bilet &raquo;</a></button>
    </div>
    <br />

    <div class="card">
        <img src="@ViewBag.details[1].ImageUri" alt="Denim Jeans" style="width:100%">
        <h1>@ViewBag.details[1].ConcertTitle</h1>
        <p class="price">@ViewBag.details[1].UnderTitle</p>
        <p>@ViewBag.details[1].Description</p>
        <button><a href="CoolConcert" class="myButtonClass">Zamów bilet &raquo;</a></button>
    </div>
    <br />

    <div class="card">
        <img src="@ViewBag.details[2].ImageUri" alt="Denim Jeans" style="width:100%">
        <h1>@ViewBag.details[2].ConcertTitle</h1>
        <p class="price">@ViewBag.details[2].UnderTitle</p>
        <p>@ViewBag.details[2].Description</p>
        <p><a href="@Url.Action("ZenekConcert", "Concerts")">Zamów bilet</a></p>
        <!-- <button><a href="ZenekConcert" class="myButtonClass">Zamów bilet &raquo;</a></button> -->

    </div>
    <br />

</body>
</html>
